{%  extends "base.html.twig" %}

{%  block body %}
    <h1>Update task</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.enddate) }}
        <button type="submit">Update</button>
    {{ form_end(form) }}
{%  endblock %}